# 微博 Cookie - 从浏览器中获取后填入
WEIBO_COOKIE=SCF=ApfrSGyMKoNeLxNnMmeRF9pjBylFlutXxYlMkoT5N4vFmn51x-D1dtmyEWzgX4u4-GrpBCvrtcUB5N38y3MD3nE.; SINAGLOBAL=6597216078207.407.1779509288468; ULV=1779509288470:1:1:1:6597216078207.407.1779509288468:; XSRF-TOKEN=SvePtNiYB4yJHJNrEKjlq8BQ; ALF=1783063080; SUB=_2A25HG6V4DeRhGeNL7FUZ8S_OyzWIHXVkWLiwrDV8PUJbkNAYLW_YkW1NSPGimSEhoGdXQgB_co6oCEBRPzBv6Z-k; SUBP=0033WrSXqPxfM725Ws9jqgMF55529P9D9WhFuak_ui-GHnov__6UcYhk5JpX5KMhUgL.Fo-fS0MReK2Eeh.2dJLoIEXLxKMLB-qLB--LxKML1K5L1heLxK-L1h.L12BLxKML1--LB.zLxK-L1K5L1-zt; WBPSESS=KmkcCC-NOyl7Vstvd_nzSEI3U7Zngq67yZH8IcUkrIu0jj2OrR6vx3HZbt_5I6pfbeOBwlxFxgNk8IFaw3yCcJ-JiHns4LPRwYKnW7O-HyPsMg4XfsoQopydLqsCRDmIV3VzBPlIn9H2FHsGDifnXg==

# 直播吧 Cookie
ZBB_WEBUID=
ZBB_STYPE=basketball

# MySQL 配置（生产环境建议独立.env）
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=zb_manager_u
MYSQL_PASSWORD=zbManager123!
MYSQL_DATABASE=sport_zhiboba_text